@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    font-family: "Lexend Deca", sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(50, 52, 55);
}

header{
    width: 100vw;
    height: 5vh;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 30px;

    font-family: "Bebas Neue", sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.account{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 5px;
}

.account img{
    width: 65px;
}

.account i{
    font-size: 30px;
    text-align: center;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.display-word{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.letter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.line1{
    height: 6vmin;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.line2{
    height: 6vmin;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.letter1, .letter2, .letter3, .letter4, .letter5, .letter6, .letter7, .letter8, .letter9, .letter10{
    width: 8vmin;
    height: 5vmin;
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
}

.letter1:hover, .letter2:hover, .letter3:hover, .letter4:hover, .letter5:hover, .letter6:hover, .letter7:hover, .letter8:hover, .letter9:hover, .letter10:hover, .diferent-buttons button:hover{
    background-color: rgb(158, 155, 155);
}

.diferent-buttons{
    width: 40vh;
    height: 5vmin;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.diferent-buttons button{
    width: calc(16vmin + 20px);
    border-radius: 20px;
    background-color: rgb(217, 217, 217);
}