@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=DM+Serif+Display&family=Oswald:wght@400;500&display=swap');

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header{
    width: 100vw;
    height: 5vh;
    padding: 5px;
    padding-left: 20px;
    border-bottom: 2px black solid;
    margin-bottom: 30px;

    background-color: rgb(255, 255, 146);
    font-family: "Bebas Neue", sans-serif;

    display: flex;
    align-items: center;
}

header h1{
    padding: 0;
    margin: 0;
}

main{
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.view{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.list{
    height: 100%;
    width: 45%;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-word{
    width: 45%;
    height: 10%;
    border: 2px black solid;
}

.choice{
    width: 100vw;
    height: 20%;
    display: flex;
    flex-direction: row;
}

.letter{
    width: 90vw;
    height: 100%;
}

.diferent-buttons{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.change-letters{
    width: 150px;
    height: 40px;
    border: 5px rgb(245, 245, 0) solid;
    border-radius: 30px;
    background: linear-gradient(90deg,  rgb(245, 193, 97), rgb(255, 255, 200)) no-repeat;
    background-position: -150px;
    text-align: center;
    padding: 0;
}

.confirm{
    width: 150px;
    height: 40px;
    border: 5px rgb(245, 245, 0) solid;
    border-radius: 30px;
    background: linear-gradient(90deg,  rgb(245, 193, 97), rgb(255, 255, 200)) no-repeat;
    background-position: -150px;
    text-align: center;
    padding: 0;
}

.change-letters:hover, .confirm:hover{
    animation: 1s change-color linear forwards;
}

.letter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.letter1, .letter2, .letter3, .letter4, .letter5, .letter6, .letter7, .letter8, .letter9, .letter10{
    width: 8%;
    height: 40%;
    background-color: gray;
}

.letter1:hover, .letter2:hover, .letter3:hover, .letter4:hover, .letter5:hover, .letter6:hover, .letter7:hover, .letter8:hover, .letter9:hover, .letter10:hover{
    background-color: rgb(73, 73, 73);
}


@keyframes change-color{
    0%{
        background-position: -150px;
    }
    100%{
        background-position: 0px;
    }
}
